.jumbotron {
    background-color: #cc4444;
    text-align: center;
    color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.card-body {
    padding: 0;
}

.card-text {
    padding: 1rem;
}

.form-control {
    width: 98%;
}

.colFrequency, .colNxtTrain, .colMinAway, .center {
    text-align: center;
}

.btn {
    background-color: #cc4444;
    color: white;
}

.card-header {
    background-color: rgba(35, 101, 220, 0.67);
    color: white;
}